<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="PlatziCheap">
        <p>2020 CHEAPFETCH, con 💚 de Platzi Master 18</p>
      </div>
      <div class="container">
        <div class="text">
          <p>About Us</p>
          <p>Help</p>
          <p>Follow Us</p>
        </div>
        <div class="social">
          <a href="/" class="social_link twitter">
            <img
              src="../images/icons8-twitter.svg"
              height="50"
              alt="Logo de Twitter"
            />
          </a>
          <a href="/" class="social_link facebook">
            <img
              src="../images/icons8-facebook.svg"
              height="50"
              alt="Logo de Facebook"
            />
          </a>
          <a href="/" class="social_link tiktok">
            <img
              src="../images/icons8-tik-tok.svg"
              height="50"
              alt="Logo de Tiktok"
            />
          </a>
          <a href="/" class="social_link instagram">
            <img
              src="../images/icons8-instagram.svg"
              height="50"
              alt="Logo de instagram"
            />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>


